<h1>details </h1>

<%= form_with model: @form_detail do |f| %>

  <div class="form-field">
    <%= f.label :form_id%><br>
    <%= f.text_field :form_id%>
    <%= error_message_for @form_detail, :form_id%>
  </div>

  <div class="form-field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    <%= error_message_for @form_detail, :name %>
  </div>

  <div class="form-field">
    <%= f.label :age %><br>
    <%= f.select :age, options_for_select(18..60) %>
    <%= error_message_for @form_detail, :age %>
  </div>

  <div class="form-field">
    <%= f.label :gender%><br />
    <%= f.radio_button :gender, 'male' %> male<br />
    <%= f.radio_button :gender, 'female' %> female
    <%= error_message_for @form_detail, :gender %>
  </div>

  <div class="form-field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
    <%= error_message_for @form_detail, :address %>
  </div>

  <div class="form-field">
    <%= f.label :identity %><br>
    <%= f.text_field :identity %>
    <%= error_message_for @form_detail, :identity %>
  </div>

  <div class="form-field">
    <%= f.label :mobile %><br>
    <%= f.text_field :mobile %>
    <%= error_message_for @form_detail, :mobile %>
  </div>

  <div class="form-field">
    <%= f.label :salary %><br>
    <%= f.text_field :salary %>
    <%= error_message_for @form_detail, :salary %>
  </div>

  <div class="form-field">
    <%= f.label :payment_type %><br>
    <%= f.text_field :payment_type %>
    <%= error_message_for @form_detail, :payment_type%>
  </div>

  <div class="form-field">
    <%= f.label :card_number %><br>
    <%= f.text_field :card_number %>
    <%= error_message_for @form_detail, :card_number%>
  </div>

  <div class="form-field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <%= error_message_for @form_detail, :email %><br>
    <%= f.label :email_confirmation%><br>
    <%= f.text_field :email_confirmation%>
    <%= error_message_for @form_detail, :email_confirmation %>
  </div>
    
  <div class = "form-field" >
    <%= f.label :password %><br>
    <%= f.text_field :password %>
    <%= error_message_for @form_detail, :password %><br>
    <%= f.label :confirm_password %><br>
    <%= f.text_field :confirm_password%>
    <%= error_message_for @form_detail, :confirm_password %>
  </div>

  <div class="form-field">
    <%= f.label :relocate %>
    <%= f.label :relocate , ":- Willing to Relocate faridabad" %><br>
    <%= f.radio_button :relocate, 'yes' %> yes<br />
    <%= f.radio_button :relocate, 'no' %> no<br />
    <%= error_message_for @form_detail, :relocate %>
  </div>

  <div class="form-field">
    <%= f.label :terms_and_conditions %>
    <%= f.check_box :terms_and_conditions %>
    <%= f.label :terms_and_conditions, "I accept the terms and conditions" %>
    <%= error_message_for @form_detail, :terms_and_conditions %>
  </div>

  <div class="form-field">
    <%= f.submit %>
  </div>
<% end %>